.news-element-container {
  padding: 10px 15px;
  border-bottom: 1px solid #ececec;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.news-element-container:hover {
  background-color: #f3f3f3;
}

.news-element-date {
  color: #999;
  font-weight: 700;
}

.news-element-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.news-element-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}
