@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700");
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* background-color: hsl(49, 100%, 58%); */
}
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.map-container {
  flex: 1;
  height: 100%;
}

.right-panel {
  width: 400px;
  height: 100%;
  overflow: auto;
}
